@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: system-ui, -apple-system, sans-serif;
  word-break: keep-all;
  overflow-wrap: break-word;
}

p,
li,
h1,
h2,
h3,
h4,
h5,
h6,
a,
span {
  word-break: keep-all;
  overflow-wrap: break-word;
}
