---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
        <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>

    {% include head.html %}
    <body>
        {% include svg-icons.html %}
        {% include header-default.html %}
            <main role="main" class="content">
                {{ content }}
            </main>
        {% include scripts.html %}
    </body>
</html>
